.navbar {
  width: 100%;
  height: 40px;

  border-bottom: 1px solid grey;

  .ribbon {
    width: 90%;
    padding: 0 5%;

    .navigation {
      display: inline-flex;
      width: 80%;
  
      align-content: center;
    }
    
    .user-panel {
      display: inline-flex;
      width: 20%;
  
      justify-content: flex-end;
      align-content: center;
    }
  }
}
