<div *ngIf="isLoggedIn$ | async; else notLoggedIn">
    <span>Welcome, {{ (user$ | async)?.login }}</span>
    <button mat-button (click)="logOut()" color="accent">Log Out</button>
</div>

<ng-template #notLoggedIn>
    <button mat-button (click)="onLogIn()" color="primary">Log In</button>
    <button mat-button (click)="onRegister()" color="accent">Register</button>
</ng-template>

<ng-template #loginPanel>
    <app-login
        [error]="loginError$ | async"
        [loggingIn]="(loginStatus$ | async) === LoginStatus.LoggingIn"
        (submit)="onLoggingIn($event)"
    ></app-login>
</ng-template>

<ng-template #registerPanel>
    <app-register
        [error]="registerError$ | async"
        [loggingIn]="(loginStatus$ | async) === LoginStatus.LoggingIn"
        (submit)="onRegistering($event)"
    ></app-register>
</ng-template>
